WSclientC/clientW3/Web References/localhost/Service0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service_endpoint/" xmlns:ns1="http://types/" targetNamespace="http://service_endpoint/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WS/Service?xsd=1" namespace="http://types/" />
  <xs:element name="getA" type="tns:getA" />
  <xs:element name="getAResponse" type="tns:getAResponse" />
  <xs:element name="getB" type="tns:getB" />
  <xs:element name="getBResponse" type="tns:getBResponse" />
  <xs:element name="getP" type="tns:getP" />
  <xs:element name="getPResponse" type="tns:getPResponse" />
  <xs:element name="getS" type="tns:getS" />
  <xs:element name="getSResponse" type="tns:getSResponse" />
  <xs:element name="getSumA" type="tns:getSumA" />
  <xs:element name="getSumAResponse" type="tns:getSumAResponse" />
  <xs:element name="getW" type="tns:getW" />
  <xs:element name="getWResponse" type="tns:getWResponse" />
  <xs:element name="remA" type="tns:remA" />
  <xs:element name="remAResponse" type="tns:remAResponse" />
  <xs:element name="remB" type="tns:remB" />
  <xs:element name="remBResponse" type="tns:remBResponse" />
  <xs:element name="remP" type="tns:remP" />
  <xs:element name="remPResponse" type="tns:remPResponse" />
  <xs:element name="remS" type="tns:remS" />
  <xs:element name="remSResponse" type="tns:remSResponse" />
  <xs:element name="remW" type="tns:remW" />
  <xs:element name="remWResponse" type="tns:remWResponse" />
  <xs:element name="setA" type="tns:setA" />
  <xs:element name="setAResponse" type="tns:setAResponse" />
  <xs:element name="setB" type="tns:setB" />
  <xs:element name="setBResponse" type="tns:setBResponse" />
  <xs:element name="setP" type="tns:setP" />
  <xs:element name="setPResponse" type="tns:setPResponse" />
  <xs:element name="setS" type="tns:setS" />
  <xs:element name="setSResponse" type="tns:setSResponse" />
  <xs:element name="setW" type="tns:setW" />
  <xs:element name="setWResponse" type="tns:setWResponse" />
  <xs:complexType name="getA">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remB">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listB" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setA">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:autoparts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getB">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listB" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setS">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:suppliers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setW">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:warranty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listW" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getW">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listW" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remA">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listA" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getP">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listP" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remS">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remW">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listW" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setP">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:promotions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listP" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getS">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listS" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setB">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:brands" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listB" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSumA">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSumAResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remP">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:listP" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>